<div class="header">
    <div class="left-section">
        <img class="icon" src="assets/icons/hamburger-menu.svg">
        <img class="icon" src="assets/icons/youtube-logo.svg">
    </div>


    <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search">
        <button class="search-button"><img class="search-icon" src="assets/icons/search.svg">
            <div class="tooltip">Search</div></button>
        <button class="voice-search-button">         
            <img class="voice-search-icon" src="assets/icons/voice-search-icon.svg">
            <div class="tooltip">Search with your voice</div>
        </button>
        </div>
    <div class="right-section">
        <div class="upload-container">
            <img class="upload-icon" src="assets/icons/upload.svg">
            <div class="tooltip">Create</div>
        </div>
    <div  class="apps-container">
        <img class="apps-icon" src="assets/icons/youtube-apps.svg">
        <div class="tooltip">Your Apps</div>
    </div>
    <div class="notification-container">
        <img class="notification-icon" src="assets/icons/notifications.svg">
        <div class="notification-number">
            3
        </div>
        <div class="tooltip">Notifications</div>
    </div> 
    <div class="profile-container">
        <img class="current-user-picture" src="assets/icons/profile-pic.jpg">  
        <div class="tooltip">Your profile</div>  
    </div>    
    </div>
