<div class="side-bar">
    <section>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/home.svg">          
        <div>Home</div> 
    </div>
    <div class="sidebar-link">
        <img src="assets/icons/explore.svg">
        <div>Explore</div>
    </div>
    <div class="sidebar-link">
        <img src="assets/icons/subscriptions.svg">
        <div>Subscriptions</div>
    </div>
    </section>
    <section>
    <div class="sidebar-link">
        <img src="assets/icons/originals.svg">
        <div>Originals</div>
    </div>
    <div class="sidebar-link">
        <img src="assets/icons/youtube-music.svg">
        <div>YouTube Music</div>
    </div>
   </section>
   <section>
    <div class="sidebar-link">
        <img src="assets/icons/library.svg">
        <div>Library</div>
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/history.png">          
        <div>History</div> 
    </div>
    </section>
    <section>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/trending.png">
        <div>Trending</div>
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/music.png">
        <div>Music</div>
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/gamepad.png">
        <div>Gaming</div>
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/trophy.png">
        <div>Sports</div>
    </div>
    </section>
    <section>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/plus.png">
        <div>Browse channels</div>
    </div>
   </section>
   <section>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/settings.png">          
        <div>Settings</div> 
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/red-flag.png">
        <div>Report history</div>
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/question.png">
        <div>Help</div>
    </div>
    <div class="sidebar-link">
        <img class="sidebar-icon" src="assets/icons/feedback.png">
        <div>Send feedback</div>
    </div>
   </section>
  <section class="last">
    <div>
    <p>About</p> <p>Press</p> <p>Copyright</p> <p>Contact us</p> <p>Creators</p> <p>Advertise</p> <p>Developers</p>
    </div>      
    <div>
        <p>Terms</p> <p>Privacy Policy & Safety</p> <p>How YouTube works</p> <p>Test new features</p>
    </div>     
    <footer>
        For learning purposes only
    </footer>     
</section>
</div>

