<div class="video-grid">
    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=n2RNcPRtAiY">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-1.webp">
               <div class="video-time">
                14:20
               </div>
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/c/mkbhd">
        <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-1.jpeg" alt="channel owner profile picture">
              <div class="tooltip">
                <img class="profile-pic" src="assets/channel-pictures/channel-1.jpeg" alt="channel owner profile picture">
                 <div>
                    <p><strong>Marques Brownlee</strong></p>
                    <p>15M subscribers</p>
                 </div>
              </div>
            </div>
        </a>
        <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=n2RNcPRtAiY">
            <div>
                <p class="video-title">Talking Tech and AI with Google CEO Sundar Pichai!</p>                         
            </div>
        </a>
        <a class="video-link" href="https://www.youtube.com/c/mkbhd">   
            <div>
                <p class="video-author">Marques Brownlee</p>
            </div>
            </a>   
            <div>
                <p class="video-stats">3.4M views &#183; 6 months ago</p>
        </div>
        </div>
        </div>
    </div>


    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=mP0RAo9SKZk">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-2.webp">
            <div class="video-time">
                8:22
             </div> 
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/c/markiplier">    
        <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-2.jpeg" alt="channel owner profile picture">     
            <div class="tooltip">
                <img class="profile-pic" src="assets/channel-pictures/channel-2.jpeg" alt="channel owner profile picture">     
                <div>
                    <p><strong>Markiplier</strong></p>
                    <p>35.2M subscribers</p>
                </div>
            </div>
        </div>
            </a>
        <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=mP0RAo9SKZk">
            <div>
                <p class="video-title">Try not to laugh Challenge #9</p>
            </div>
            </a>
            <a class="video-link" href="https://www.youtube.com/c/markiplier">
            <div>
                <p class="video-author">Markiplier</p>
            </div>    
            </a>
            <div>
                <p class="video-stats">19M views &#183; 4 years ago</p>
            </div>
        </div>
    </div>
    </div>

    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=FgjPQQeTh1w">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-3.webp">
            <div class="video-time">
                9:13
             </div> 
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/user/SSSniperWolf">
            <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-3.jpeg" alt="channel owner profile picture"> 
                <div class="tooltip">
                    <img class="profile-pic" src="assets/channel-pictures/channel-3.jpeg" alt="channel owner profile picture"> 
                    <div>
                    <p><strong>SSSniperWolf</strong></p>
                    <p>33.8M subscribers</p>
                  </div>
                 </div>
            </div>
            </a>
            <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=FgjPQQeTh1w">
            <div>
                <p class="video-title">Crazy Tik Toks Taken Moments Before DISASTER</p>
            </div>
            </a>
            <a class="video-link" href="https://www.youtube.com/user/SSSniperWolf">
            <div>
                <p class="video-author">SSSniperWolf</p>
            </div> 
            </a>   
            <div>
                <p class="video-stats">12M views &#183; 1 year ago</p>
        </div>
          </div>
        </div>
    </div>


    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=094y1Z2wpJg">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-4.webp">
            <div class="video-time">
                22:09
             </div>                   
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/c/veritasium">
        <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-4.jpeg" alt="channel owner profile picture">              
                <div class="tooltip">
                    <img class="profile-pic" src="assets/channel-pictures/channel-4.jpeg" alt="channel owner profile picture"> 
                    <div>
                    <p><strong>Veritasium</strong></p>
                    <p>14M subscribers</p>
                  </div>
                 </div>
            </div>
            </a>
        <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=094y1Z2wpJg">
            <div>
                <p class="video-title">The Simplest Math Problem No One Can Solve-Collatz...</p>
            </div>
            </a>
            <a class="video-link" href="https://www.youtube.com/c/veritasium">
            <div>
                <p class="video-author">Veritasium</p>
            </div>    
            </a>
            <div>
                <p class="video-stats">18M views &#183; 4 months ago</p>
            </div>
        </div>
    </div>
    </div>

    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=86CQq3pKSUw">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-5.webp">
            <div class="video-time">
                11:17
             </div> 
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/c/CSDojo">
        <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-5.jpeg" alt="channel owner profile picture">
                <div class="tooltip">
                    <img class="profile-pic" src="assets/channel-pictures/channel-5.jpeg" alt="channel owner profile picture"> 
                    <div>
                    <p><strong>CS Dojo</strong></p>
                    <p>1.91M subscribers</p>
                  </div>
                 </div>
            </div>
            </a>
        <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=86CQq3pKSUw">
            <div>
                <p class="video-title">Kandane's Algorithm to Maximum Sum Subarray...</p>
            </div>
            </a>
            <a class="video-link" href="https://www.youtube.com/c/CSDojo">
            <div>
                <p class="video-author">CS Dojo</p>
            </div>    
            </a>
            <div>
                <p class="video-stats">519K views &#183; 5 years ago</p>
        </div>
        </div>
        </div>
        </div>


    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=yXWw0_UfSFg">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-6.webp">
            <div class="video-time">
                19:59
             </div>  
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA">
        <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-6.jpeg" alt="channel owner profile picture">               
                <div class="tooltip">
                    <img class="profile-pic" src="assets/channel-pictures/channel-6.jpeg" alt="channel owner profile picture"> 
                    <div>
                    <p><strong>MrBeast</strong></p>
                    <p>170M subscribers</p>
                  </div>
                 </div>
            </div>
            </a>    
        <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=yXWw0_UfSFg">
            <div>
                <p class="video-title">Anything You Can Fit in the Circle, I'll Pay For</p>
            </div>
            </a>
            <a class="video-link" href="https://www.youtube.com/channel/UCX6OQ3DkcsbYNE6H8uQQuVA">
            <div>
                <p class="video-author">MrBeast</p>
            </div>  
            </a>  
            <div>
                <p class="video-stats">141M views &#183; 1 year ago</p>
            </div>
        </div>
    </div>
    </div>



    <div class="video-preview">
        <a class="video-link" href="https://www.youtube.com/watch?v=fNVa1qMbF9Y">
        <div class="thumbnail-row">
            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-7.webp">
            <div class="video-time">
                10:13
             </div> 
        </div>
        </a>
        <div class="video-info-grid">
            <a class="video-link" href="https://www.youtube.com/@RealLifeLore">
        <div class="channel-picture">
                <img class="profile-pic" src="assets/channel-pictures/channel-7.jpeg" alt="channel owner profile picture">
                <div class="tooltip">
                    <img class="profile-pic" src="assets/channel-pictures/channel-7.jpeg" alt="channel owner profile picture"> 
                    <div>
                    <p><strong>RealLifeLore</strong></p>
                    <p>6.92M subscribers</p>
                  </div>
                 </div>
            </div>
            </a>
        <div class="video-info">
            <a class="video-link" href="https://www.youtube.com/watch?v=fNVa1qMbF9Y">
            <div>
                <p class="video-title">Why Planes Don't Fly Over Tibet</p>
            </div>
            </a>
            <a class="video-link" href="https://www.youtube.com/@RealLifeLore">
            <div>
                <p class="video-author">RealLifeLore</p>
            </div>    
            </a>
            <div>
                <p class="video-stats">6.6M views &#183; 1 year ago</p>
        </div>
        </div>
        </div>
        </div>


        <div class="video-preview">
            <a class="video-link" href="https://www.youtube.com/watch?v=lFm4EM1juls">
            <div class="thumbnail-row">
                <img class="thumbnail" src="assets/thumbnail-images/thumbnail-8.webp">
                <div class="video-time">
                   7:12
                 </div> 
            </div>
            </a>
            <div class="video-info-grid">
                <a class="video-link" href="https://www.youtube.com/@adin">
            <div class="channel-picture">
                    <img class="profile-pic" src="assets/channel-pictures/channel-8.jpeg" alt="channel owner profile picture">
                    <div class="tooltip">
                        <img class="profile-pic" src="assets/channel-pictures/channel-8.jpeg" alt="channel owner profile picture"> 
                        <div>
                        <p><strong>Tech Vision</strong></p>
                        <p>816K subscribers</p>
                      </div>
                     </div>
                </div>
                </a>
            <div class="video-info">
                <a class="video-link" href="https://www.youtube.com/watch?v=lFm4EM1juls">
                <div>
                    <p class="video-title">Inside The World's Biggest Passenger Plane</p>
                </div>
                </a>
                <a class="video-link" href="https://www.youtube.com/@adin">
                <div>
                    <p class="video-author">Tech Vision</p>
                </div>    
                </a>
                <div>
                    <p class="video-stats">3.7M views &#183; 10 months ago</p>
            </div>
            </div>
            </div>
            </div>

            <div class="video-preview">
                <a class="video-link" href="https://www.youtube.com/watch?v=ixmxOlcrlUc">
                <div class="thumbnail-row">
                    <img class="thumbnail" src="assets/thumbnail-images/thumbnail-9.webp">
                    <div class="video-time">
                        13:17
                     </div> 
                </div>
                </a>
                <div class="video-info-grid">
                    <a class="video-link" href="https://www.youtube.com/@OFFICIALTHENXSTUDIOS">
                <div class="channel-picture">
                        <img class="profile-pic" src="assets/channel-pictures/channel-9.jpeg" alt="channel owner profile picture">
                        <div class="tooltip">
                            <img class="profile-pic" src="assets/channel-pictures/channel-9.jpeg" alt="channel owner profile picture"> 
                            <div>
                            <p><strong>ThenX</strong></p>
                            <p>7.67M subscribers</p>
                          </div>
                         </div>
                    </div>
                    </a>
                <div class="video-info">
                    <a class="video-link" href="https://www.youtube.com/watch?v=ixmxOlcrlUc">
                    <div>
                        <p class="video-title">The SECRET to Super Human STRENGTH</p>
                    </div>
                    </a>
                    <a class="video-link" href="https://www.youtube.com/@OFFICIALTHENXSTUDIOS">
                    <div>
                        <p class="video-author">ThenX</p>
                    </div>    
                    </a>
                    <div>
                        <p class="video-stats">20M views &#183; 3 years ago</p>
                </div>
                </div>
                </div>
                </div>


                <div class="video-preview">
                    <a class="video-link" href="https://www.youtube.com/watch?v=R2vXbFp5C9o">
                    <div class="thumbnail-row">
                        <img class="thumbnail" src="assets/thumbnail-images/thumbnail-10.webp">
                        <div class="video-time">
                            7:53
                         </div> 
                    </div>
                    </a>
                    <div class="video-info-grid">
                        <a class="video-link" href="https://www.youtube.com/@InsiderBusiness">
                    <div class="channel-picture">
                            <img class="profile-pic" src="assets/channel-pictures/channel-10.jpeg" alt="channel owner profile picture">
                            <div class="tooltip">
                                <img class="profile-pic" src="assets/channel-pictures/channel-10.jpeg" alt="channel owner profile picture"> 
                                <div>
                                <p><strong>Insider Business</strong></p>
                                <p>7.92M subscribers</p>
                              </div>
                             </div>
                        </div>
                        </a>
                    <div class="video-info">
                        <a class="video-link" href="https://www.youtube.com/watch?v=R2vXbFp5C9o">
                        <div>
                            <p class="video-title">How The World's Largest Cruise Ship Makes 30,000 Meals Every Day</p>
                        </div>
                        </a>
                        <a class="video-link" href="https://www.youtube.com/@InsiderBusiness">
                        <div>
                            <p class="video-author">Insider Business</p>
                        </div>    
                        </a>
                        <div>
                            <p class="video-stats">14M views &#183; 1 year ago</p>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="video-preview">
                        <a class="video-link" href="https://www.youtube.com/watch?v=0nZuYyXET3s">
                        <div class="thumbnail-row">
                            <img class="thumbnail" src="assets/thumbnail-images/thumbnail-11.webp">
                            <div class="video-time">
                                4:10
                             </div> 
                        </div>
                        </a>
                        <div class="video-info-grid">
                            <a class="video-link" href="https://www.youtube.com/@Destinationtips">
                        <div class="channel-picture">
                                <img class="profile-pic" src="assets/channel-pictures/channel-11.jpeg" alt="channel owner profile picture">
                                <div class="tooltip">
                                    <img class="profile-pic" src="assets/channel-pictures/channel-11.jpeg" alt="channel owner profile picture"> 
                                    <div>
                                    <p><strong>Destination Tips</strong></p>
                                    <p>282K subscribers</p>
                                  </div>
                                 </div>
                            </div>
                            </a>
                        <div class="video-info">
                            <a class="video-link" href="https://www.youtube.com/watch?v=0nZuYyXET3s">
                            <div>
                                <p class="video-title">Dubai's Crazy Underwater Train and Other Things #Only in Dubai</p>
                            </div>
                            </a>
                            <a class="video-link" href="https://www.youtube.com/@Destinationtips">
                            <div>
                                <p class="video-author">Destination Tips</p>
                            </div>    
                            </a>
                            <div>
                                <p class="video-stats">3M views &#183; 1 year ago</p>
                        </div>
                        </div>
                        </div>
                        </div>

                        <div class="video-preview">
                            <a class="video-link" href="https://www.youtube.com/watch?v=9iMGFqMmUFs">
                            <div class="thumbnail-row">
                                <img class="thumbnail" src="assets/thumbnail-images/thumbnail-12.webp">
                                <div class="video-time">
                                    4:51
                                 </div> 
                            </div>
                            </a>
                            <div class="video-info-grid">
                                <a class="video-link" href="https://www.youtube.com/@TEDEd">
                            <div class="channel-picture">
                                    <img class="profile-pic" src="assets/channel-pictures/channel-12.jpeg" alt="channel owner profile picture">
                                    <div class="tooltip">
                                        <img class="profile-pic" src="assets/channel-pictures/channel-12.jpeg" alt="channel owner profile picture"> 
                                        <div>
                                        <p><strong>TED-Ed</strong></p>
                                        <p>18.8M subscribers</p>
                                      </div>
                                     </div>
                                </div>
                                </a>
                            <div class="video-info">
                                <a class="video-link" href="https://www.youtube.com/watch?v=9iMGFqMmUFs">
                                <div>
                                    <p class="video-title">What would happen if you didn't drink water? - Mia Nacamulli</p>
                                </div>
                                </a>
                                <a class="video-link" href="https://www.youtube.com/@TEDEd">
                                <div>
                                    <p class="video-author">TED-Ed</p>
                                </div>    
                                </a>
                                <div>
                                    <p class="video-stats">12M views &#183; 5 years ago</p>
                            </div>
                            </div>
                            </div>
                            </div>
</div>